.header h1{
    text-align: center;
    background-color: #290E05;
    color: wheat;
    font-size: 15px;
    padding: 1%;
}

.flex-container{
  display: flex;
}

.items  {
    width: 10%;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 30px;
    margin: 30px;
    background-color: #eee1d6;
    color: #545a47;
    flex: 1;
  }

.items h2{
    color: #b7977b;
}

.name-position{
    width: 20%;
    border-radius: 10px;
    background-color: #eee1d6;
    color: #545a47;  
}

.name-group{
    position: relative;
    display: inline-block;
}

.name-input {
    border-color: #9c734f;
    padding: 8px;
    border-radius: 20px;
  }

.name-label {
    background-color: white;
    color: #9c734f;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
  }

.place-order-group{
    width: 80%;
    border-radius: 10px;
    margin-left: 100px;
    background-color: #eee1d6;
    color: #545a47;
    padding: 10px;
}

